---
layout: layout.liquid
title: ONI interleave
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none d-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    {{ filename | upperFirst }}
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr class="d-none">
            <p class="px-2">
                Interleaves the characters of two strings, you may optionally pass in a delimiter.
            </p>
        </div>
        <div class="collapse" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">{{ filename | upperFirst }}</span>
                    <div class="card-body text-left">
                        <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2 data-to-copy active">window.{{ filename }}(string1, string2, delimiter = "")</code>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-4 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-md-auto">
                                </div>
                                <div class="col d-flex flex-fill justify-content-end">
                                    {% include "components/select-copy-dl" %}
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>