<section class="section" id="IOOBI9O4IEIEOIO4O4IB">
    <div class="py-3 pb-4 px-2 px-sm-4">
        {% include "layout/breadcrumbs" %}
        <div class="section-heading">
            <h1 class="display-6">{%- if page.inputPath contains "changelog" and page.templateSyntax contains "liquid,md" -%}v{% endif %}{{ title }}{% if page.url contains "tag/" %}{% assign tag = page.url | split: '/' | last %} <span class="h5"><span class="badge git-badge badge-{{ tag }}">{{ tag }}</span></span>{% endif %}</h1>
            <hr>
            <p class="px-2">
                {{ description }}
            </p>
            {%- if tags %}
            <div class="px-2">
                {%- for tag in tags -%}
                {% assign normalizedTag = tag | downcase -%}
                {% assign label = labels.labels | where: "key", normalizedTag | first -%}
                {% if label %}
                <a href="{{ '/changelog/tag/' | append: tag | url }}" class="badge git-badge badge-{{ label.key }}" title="{{ label.description }}">{{ label.key }}</a>
                {%- endif -%}
                {%- endfor %}
            </div>
            {%- endif -%}
            {%- if page-id == "sitemap" or page.inputPath contains "tag" or page.inputPath contains "tags" or page-id != "sitemap" and page.inputPath contains "changelog" -%}
            {%- else -%}
            {% render "components/data-limits" %}
            {% endif %}
        </div>
    </div>
</section>