---
layout: layout.liquid
title: Braille
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="true" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
            <h2 class="display-6 w-100 d-flex m-0">
                {{ filename | upperFirst }}
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                Convert Braille to text and vice-versa. The "Create image" button downloads an image version of the generated Braille.
            </p>
            <p class="px-2">
                 There is more information available on the <a href="https://en.wikipedia.org/wiki/Braille" class="text-convrtr">Braille</a> Halopedia page. 
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">{{ filename | upperFirst }}</span>
                <div class="card-body text-center">
                    <label for="{{ filename }}Textarea" class="visually-hidden">Braille conversion</label>
                    <textarea placeholder="Enter some text and click the 'Convert' button below" rows="6" id="{{ filename }}Textarea" class="form-control flip-text" autocomplete="off"></textarea>
                </div>
                <div class="card-footer py-3">
                    <div class="text-center mb-4 g-0">
                        <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                            <div class="col col-12 col-md-auto">
                                <div class="w-auto text-start">
                                    <button role="button" class="btn btn-md btn-convrtr" id="{{ filename }}Convert" title="Create between braille and text">Convert</button>
                                    <button role="button" class="btn btn-md btn-convrtr" id="generateBrailleImage" title="Create an image from Braille symbols">Create image</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto flex-fill">
                                <div class="row row-cols-auto g-0">
                                    <div class="col col-sm-8 col-md-auto ms-0 mx-sm-2 me-md-auto">
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="{{ filename }}Switch" aria-checked="false">
                                            <label class="form-check-label" for="{{ filename }}Switch">Convert Text to Braille</label>
                                        </div>
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="brImageTransparency" aria-checked="false">
                                            <label class="form-check-label" for="brImageTransparency">Transparent background <span class="visually-hidden">for Braille image</span></label>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-fill justify-content-end">
                                        {% include "components/select-copy-dl" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="{{ filename }}Results" class="braille data-to-copy active convrtr-results"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}