---
layout: layout.liquid
title: Color generator
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none d-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse"
                data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
                <h2 class="display-6 w-100 d-flex m-0">
                    Color generator
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr class="d-none">
            <p class="px-2">
                Generates hex colors from a given string of data, displayed as both a list of hex colors and visually as blocks of colors. Padding is used to add extra characters, in the event the hex colors can't make up to 6 characters. 
            </p>
        </div>
        <div class="collapse show" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Color generator</span>
                    <div class="card-body text-center">
                        <label for="{{ filename }}Text" class="visually-hidden">Data to convert</label>
                        <textarea placeholder="Enter some text and click the 'Generate' button below" rows="6" id="{{ filename }}Text" class="form-control word-freqs" autocomplete="off"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-2 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-lg-auto me-2 mb-2">
                                    <div class="input-group w-auto">
                                        <label class="input-group-text" for="{{ filename }}Padding">Padding</label>
                                        <select class="form-select" id="{{ filename }}Padding" autocomplete="off">
                                            <option value="F" selected="">F padding</option>
                                            <option value="0">0 padding</option>
                                        </select>
                                        <button class="btn btn-convrtr" type="button" id="{{ filename }}Decode">Generate</button>
                                    </div>
                                </div>
                                <div class="col d-flex flex-fill mb-2">
                                    {% include "components/select-copy-dl" %}
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="data-to-copy active convrtr-results d-flex flex-wrap p-2" id="{{ filename }}Results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}