---
layout: layout.liquid
title: Periodic elements
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    {{ filename | upperFirst }}
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr>
            <p class="px-2">
                Convert periodic element property values to different property values, for example atomic numbers to element names or symbols.
                Only a subset of element properties are available for conversion. Strings can be separated using a number of different delimiters: 
                space, comma, colon, semi-colon, and hyphen. You can mix and match delimiters, but they are required.
            </p>
            <blockquote>
                <p class="ms-2">&mdash; Data sourced from <a href="https://github.com/Bowserinator/Periodic-Table-JSON" class="text-convrtr">Bowserinator / Periodic-Table-JSON</a> under the <a
                        href="https://creativecommons.org/licenses/by-sa/3.0/" class="text-convrtr">Creative Commons Attribution-ShareAlike 3.0
                        License</a>.</p>
            </blockquote>
        </div>
        <div class="collapse" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Periodic elements conversion</span>
                    <div class="card-body text-center">
                        <textarea placeholder="34,7,52,7,58 [Atomic Number] → Se,N,Te,N,Ce" title="Periodic element conversion" rows="6" id="{{ filename }}Textarea" class="form-control flip-text" autocomplete="off"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-2 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-lg-auto me-2 mb-2">
                                    <div class="input-group w-auto mb-2">
                                        <label class="input-group-text" for="elementPropFrom">Convert from <span class="visually-hidden">element properties</span></label>
                                        <select class="form-select" id="elementPropFrom" autocomplete="off">
                                            <option value="symbol" selected="">Element symbol</option>
                                            <option value="name">Element name</option>
                                            <option value="number">Atomic number</option>
                                            <option value="atomic_mass">Atomic mass</option>
                                            <option value="melt">Melting point</option>
                                            <option value="boil">Boiling point</option>
                                        </select>
                                    </div>
                                    <div class="input-group w-auto">
                                        <label class="input-group-text" for="elementPropTo">Convert to <span class="visually-hidden">element properties</span></label>
                                        <select class="form-select" id="elementPropTo" autocomplete="off">
                                            <option value="symbol" selected="">Element symbol</option>
                                            <option value="name">Element name</option>
                                            <option value="number">Atomic number</option>
                                            <option value="atomic_mass">Atomic mass</option>
                                            <option value="melt">Melting point</option>
                                            <option value="boil">Boiling point</option>
                                        </select>
                                        <button class="btn btn-convrtr" type="button" id="{{ filename }}Change">Run</button>
                                    </div>
                                </div>
                                <div class="col d-flex flex-fill mb-2">
                                    <div class="me-auto flex-fill">
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="removeDelimiters" aria-checked="false">
                                            <label class="form-check-label" for="removeDelimiters">Remove delimiters</label>
                                        </div>
                                    </div>
                                    {% include "components/select-copy-dl" %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="elementResults" class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>