---
layout: layout.liquid
title: Forerunner glyphs
tags: tools
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="true" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
            <h2 class="display-6 w-100 d-flex m-0" data-pagefind-ignore="all">
                Forerunner glyphs
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                Convert Forerunner glyphs from the video game <a href="https://www.halowaypoint.com/" title="HaloWaypoint.com - the official site for the Halo universe" class="text-convrtr">Halo</a> to their text alternative, these glyphs were primarily used during an <a href="https://www.halopedia.org/Section_3_ARG" title="Halopedia - Section 3 ARG" class="text-convrtr">ARG</a> for Halo 4. The "Create image" button downloads an image version of the glyphs selected and displayed below the text version.
            </p>
            <p class="px-2">
                 There is more information available on the <a href="https://www.halopedia.org/Forerunner_symbols" class="text-convrtr">Forerunner symbols</a> Halopedia page. 
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">Forerunner glyphs</span>
                <div class="card-body text-center" data-pagefind-ignore="all">
                    <div class="mb-2">
                        {%- for item in forerunner %}
                        <button type="button" class="btn btn-outline-convrtr p-0 mb-1 border border-3 border-convrtr rounded-circle fr-glyph" id="fr-{{ item.key }}" aria-label="Glyph: {{ item.key }} [{{ item.glyph }}]" data-bs-toggle="tooltip" data-bs-placement="top" title="Glyph: {{ item.key }} [{{ item.glyph }}]" data-glyph="{{ item.glyph }}">
                            <span class="visually-hidden">Glyph {{ item.key }} [</span>{{ item.glyph }}<span class="visually-hidden">]</span>
                        </button>
                        {%- endfor %}
                    </div>
                </div>
                <div class="card-footer py-3">
                    <div class="text-center mb-4 g-0">
                        <div class="row row-cols-2 g-sm-0 gx-0 gy-2">
                            <div class="col col-12 col-sm-auto flex-fill">
                                <div class="row row-cols-auto g-1">
                                    <div class="input-group w-auto">
                                        <button role="button" class="btn btn-md btn-convrtr" id="generateForerunnerImage" title="Create an image from Forerunner glyphs">Create image</button>
                                    </div>
                                    <div class="form-check form-switch mx-2">
                                        <input class="form-check-input" type="checkbox" role="switch" id="frImageTransparency" aria-checked="false" aria-labelledby="frImageTransparencyLabel">
                                        <label class="form-check-label" id="frImageTransparencyLabel" for="frImageTransparency">Transparent background <span class="visually-hidden">for Forerunner image</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-auto">
                                <div class="row row-cols-auto g-0">
                                    <div class="col d-flex flex-fill justify-content-end">
                                        {% include "components/select-copy-dl" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="{{ filename }}Results" class="data-to-copy active convrtr-results h5"></div>
                    <div id="{{ filename }}ImageResults" class="forerunner convrtr-results"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}