---
layout: layout.liquid
title: Text frequencies
tags: tools
---
{% assign filename = page.fileSlug %}
<span class="hidden" data-pagefind-filter="Filters">{{ tags }}</span>
<section id="{{ filename }}" class="section">
    <div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="false" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
            <h2 class="display-6 w-100 d-flex m-0">
                Character frequencies
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button"data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                For a given string of text, list out the frequencies of various character combinations. This can be useful when looking at data-driven puzzles, and trying to find recognizable patterns.
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">Character frequencies</span>
                <div class="card-body text-center">
                    <label for="{{ filename }}Text" class="visually-hidden">Characters to check</label>
                    <textarea placeholder="Enter some text and click the 'Generate' button below" rows="6" id="{{ filename }}Text" class="form-control word-freqs" autocomplete="off"></textarea>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <button type="button" class="btn btn-md btn-convrtr" id="{{ filename }}Decode" title="Generate character frequencies">Generate</button>
                        {% include "components/select-copy-dl" %}
                    </div>
                    <hr />
                    <div class="">
                        <div class="grid g-4 my-1 data-to-copy active convrtr-results" id="{{ filename }}Results"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% render "dynamic-script", page: page %}