---
layout: layout.liquid
title: Text replace
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none d-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse"
                data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
                <h2 class="display-6 w-100 d-flex m-0">
                    Replace characters
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr class="d-none">
            <p class="px-2">
                Replace characters in a string &ndash; allows replacing any characters or phrases in a string with any character or phrase. 
                Supports <a href="https://en.wikipedia.org/wiki/Regular_expression" class="text-convrtr" title="Regular expression wikipedia page">regex</a> so you can run your own custom advanced replacements.
            </p>
        </div>
        <div class="collapse show" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Replace characters</span>
                    <div class="card-body text-center">
                        <label for="{{ filename }}Text" class="visually-hidden">Replace characters in a string</label>
                        <textarea placeholder="Example: Hello → lo → ium → Helium" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-text" autocomplete="off"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-2 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-lg-auto me-2 mb-2">
                                    <div class="input-group w-auto mb-2">
                                        <label class="input-group-text" for="{{ filename }}Value">Old<span class="d-none d-md-block">&nbsp;characters</span></label>
                                        <input type="text" class="form-control" id="{{ filename }}Value" autocomplete="off">
                                    </div>
                                    <div class="input-group w-auto">
                                        <label class="input-group-text" id="newCharacters" for="{{ filename }}mentValue">New<span class="d-none d-md-block">&nbsp;characters</span></label>
                                        <input type="text" class="form-control" id="{{ filename }}mentValue" autocomplete="off">
                                        <button class="btn btn-convrtr" type="button" id="{{ filename }}Decode">Replace</button>
                                    </div>
                                </div>
                                <div class="col d-flex flex-fill mb-2">
                                    <div class="me-auto flex-fill">
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="{{ filename }}Case" aria-checked="false">
                                            <label class="form-check-label" for="{{ filename }}Case">Case sensitive</label>
                                        </div>
                                        <div class="form-check form-switch mx-lg-2 d-flex">
                                            <input class="form-check-input" type="checkbox" role="switch" id="{{ filename }}Chain" aria-checked="false">
                                            <label class="form-check-label" for="{{ filename }}Chain">Chain <span class="visually-hidden" aria-hidden="true" focusable="true">{{ filename }}</span> commands</label>
                                        </div>
                                    </div>
                                    {% include "components/select-copy-dl" %}
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}