<footer class="section footer{% if page-id == "fourohfour" %} mt-auto pb-3{% endif %}">
    <div class="mw me-auto ms-auto">
        <div class="py-4 px-3 px-sm-4 pb-2">
            <p class="mb-1">
                &copy; <a href="{{ pkg.authorUrl }}" title="{{ pkg.authorDesc }}" class="text-convrtr">{{ pkg.author }}</a> {% year %}. All Rights Reserved.<br />
                Powered by <a href="https://www.11ty.dev/" title="Eleventy, a simpler static site generator" class="text-convrtr">11ty</a>, <a href="https://getbootstrap.com/" title="Bootstrap - an HTML, CSS, and JS library" class="text-convrtr">Bootstrap</a> and <a href="https://pages.github.com/" title="GitHub pages - websites hosted directly from your GitHub repository" class="text-convrtr">GitHub Pages</a>
            </p>
        </div>
        <div class="py-4 px-3 px-sm-4 pt-2">
            <a href="{{ '/changelog' | url }}"
                title="Release version: v{{ pkg.version }}{% if data.environment == 'development' %}-dev{% endif %}" 
                class="d-inline-flex fw-semibold bg-convrtr border border-convrtr border-opacity-10 rounded-2 text-white release-version">
                <small>v{{ pkg.version }}{% if data.environment == 'development' %}-dev{% endif %}</small>
            </a>
            {% if page-id != "404" %}
            <p class="float-end mb-1">
                <a href="#IOOBI9O4IEIEOIO4O4IB" class="btn btn-secondary btn-btt">
                    <i class="bi bi-arrow-up-square"></i>
                    <span class="visually-hidden" focusable="false">
                        Back to top
                    </span>
                </a>
            </p>
            {% endif %}
        </div>
    </div>
</footer>