<header>
    <nav id="navbar" class="navbar fixed-top navbar-dark bg-convrtr shadow-sm">
        <div class="container-fluid mw justify-content-start">
            <button class="navbar-toggler" id="navbar-toggler" type="button"
                aria-controls="nav-dropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" aria-hidden="true" focusable="false"></span>
                <label for="navbar-toggler" class="visually-hidden">Toggle navigation</label>
            </button>
            <a href="{{ '/' | url }}" 
               class="navbar-brand text-white mb-0 h1 fw-light ms-2 me-auto me-md-3 d-flex" title="Home">
                {% if data.environment == 'development' %}<i class="bi bi-braces-asterisk me-2"></i>{% endif %}<span{% if data.environment == 'development' %} class="d-none d-sm-block"{% endif %}>{{ pkg.sitename }}</span>
            </a>
            <div class="d-flex ms-auto">
                <span class="navbar-text text-white mx-0 mx-md-3 fs-5">
                    {{ pkg.tagline }}
                </span>
                <ul class="navbar-nav mx-0 mx-md-2 flex-row d-none d-sm-flex">
                    <li class="nav-item">
                        <a class="btn btn-md btn-link text-light" aria-label="Discord support server" 
                            title="Discord" href="{{ pkg.support }}" title="Discord"
                            data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="bi bi-discord" aria-hidden="true" focusable="false"></i>
                            <span class="visually-hidden mx-2" focusable="false" aria-hidden="false">Join the discord</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-md btn-link text-light" aria-label="Github code repository" 
                            title="Github" href="{{ pkg.repository.site }}" title="Github"
                            data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="bi bi-github" aria-hidden="true" focusable="false"></i>
                            <span class="visually-hidden mx-2" focusable="false" aria-hidden="false">Github</span>
                        </a>
                    </li>
                    {% assign excludedPages = "fourohfour,404,sitemap,tags,changelog" | split: "," %}
                {% if not excludedPages contains page-id  %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-md btn-link text-light btn-reset-data" id="resetData" 
                                aria-label="Clear all data inside textareas" title="Clear data"
                                data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <i class="bi bi-recycle" aria-hidden="true" focusable="false"></i>
                            <span class="visually-hidden mx-2" focusable="false" aria-hidden="false">Clear all data</span>
                        </button>
                    </li>
                {% endif %}
                    <li class="nav-item dropdown" data-bs-toggle="tooltip" data-placement="bottom" data-bs-trigger="hover" data-bs-title="Toggle theme">
                        <button class="btn btn-md btn-link btn-theme text-light dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" 
                        aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)" 
                        data-current-icon="bi-circle-half">
                            <i class="bi my-1 theme-icon-active bi-circle-half"></i>
                            <span class="visually-hidden ms-2" focusable="false" aria-hidden="false" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0" 
                                data-bs-theme-value="light" aria-pressed="false" data-theme-icon="bi-sun-fill">
                                    <i class="bi me-2 opacity-50 theme-icon bi-sun-fill" aria-hidden="true" focusable="false"></i>
                                    Light
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0" 
                                data-bs-theme-value="dark" aria-pressed="false" data-theme-icon="bi-moon-stars-fill">
                                    <i class="bi me-2 opacity-50 theme-icon bi-moon-stars-fill" aria-hidden="true" focusable="false"></i>
                                    Dark
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0 active" 
                                data-bs-theme-value="auto" aria-pressed="true" data-theme-icon="bi-circle-half">
                                    <i class="bi me-2 opacity-50 theme-icon bi-circle-half" aria-hidden="true" focusable="false"></i>
                                    Auto
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav mx-0 mx-md-2 flex-row d-sm-none">
                    <li class="nav-item dropdown" data-bs-toggle="tooltip" data-placement="bottom" data-bs-trigger="hover"
                        data-bs-title="View settings">
                        <button class="btn btn-md btn-link btn-theme text-light dropdown-toggle d-flex align-items-center" id="bd-settings"
                            type="button" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown" aria-label="View settings">
                            <i class="bi my-1 theme-icon-active bi-gear-fill"></i>
                            <span class="visually-hidden ms-2" focusable="false" aria-hidden="false" id="bd-theme-text">View settings</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="bd-settings" id="bd-nested-settings">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0">
                                    <i class="bi me-2 opacity-75 theme-icon bi-discord" aria-hidden="true" focusable="false"></i>
                                    <span class="visually-hidden mx-2" focusable="false" aria-hidden="false">Join the</span> Discord
                                    <i class="bi bi-box-arrow-up-right opacity-75 ms-auto" focusable="false" aria-hidden="false"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0">
                                    <i class="bi me-2 opacity-75 theme-icon bi-github" aria-hidden="true" focusable="false"></i>
                                    Github
                                    <i class="bi bi-box-arrow-up-right opacity-75 ms-auto" focusable="false" aria-hidden="false"></i>
                                </button>
                            </li>
                            {% if not excludedPages contains page-id %}
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0 btn-reset-data"
                                    id="resetData" aria-label="Clear all data inside textareas" title="Clear data">
                                    <i class="bi me-2 opacity-75 theme-icon bi-recycle" aria-hidden="true" focusable="false"></i>
                                    Clear data <span class="visually-hidden mx-2" focusable="false" aria-hidden="false">inside
                                        textareas</span>
                                </button>
                            </li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <h6 class="dropdown-header">Change site theme</h6>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0" data-bs-theme-value="light"
                                    aria-pressed="false" data-theme-icon="bi-sun-fill">
                                    <i class="bi me-2 opacity-75 theme-icon bi-sun-fill" aria-hidden="true" focusable="false"></i>
                                    Light
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0" data-bs-theme-value="dark"
                                    aria-pressed="false" data-theme-icon="bi-moon-stars-fill">
                                    <i class="bi me-2 opacity-75 theme-icon bi-moon-stars-fill" aria-hidden="true" focusable="false"></i>
                                    Dark
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center rounded-0 active" data-bs-theme-value="auto"
                                    aria-pressed="true" data-theme-icon="bi-circle-half">
                                    <i class="bi me-2 opacity-75 theme-icon bi-circle-half" aria-hidden="true" focusable="false"></i>
                                    Auto
                                    <i class="bi ms-auto d-none bi-check2" aria-hidden="true" focusable="false"></i>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>