
{% if page-id == "fourohfour" %}
<ul class="navbar-nav me-auto mt-3 mt-md-0 mb-2 mb-md-0">
    <li class="nav-item">
        <a class="nav-link active" href="{{ pkg.homepage }}">Home</a>
    </li>
</ul>
{% else %}
<ul class="navbar-nav me-auto mt-3 mt-md-0 mb-2 mb-md-0">
    {% for link in nav %}
        <li class="nav-item dropdown{% if page-id ==  link.id %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="d-sm-inline-flex d-md-none d-lg-inline-flex ms-1 me-auto">{{ link.label }}</span>
                <span class="d-none d-md-inline-flex d-lg-none ms-1 me-auto">{{ link.short-label }}</span>
            </a>
            {% if link.children %}
            <ul class="dropdown-menu">
                {% for child in link.children %}
                <li>
                    <a class="dropdown-item" href="../{% if link.id != 'home'%}{{ link.id }}/{% endif %}#{{ child.id }}">{{ child.label }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}