<div class="sidebar-dropdown d-grid gap-2 pb-3" id="nav-dropdown">
    {% for link in nav %}
    <div class="sidebar-item d-grid gap-2{% if page-id ==  link.id %} active{% endif %}" data-link-id="{{ link.id }}"
        data-page-id="{{ page-id }}">
        {% if link.children %}
        <button
            class="btn sidebar-item__link border border-success {% if page-id ==  link.id %} border-opacity-25 active{% else %} border-opacity-10{% endif %} rounded-2 text-start"
            type="button" data-bs-toggle="collapse" data-href="#collapse{{ link.id }}" href="#collapse{{ link.id }}"
            aria-expanded="false" aria-controls="collapse{{ link.id }}" aria-label="{{ link.label }}">
            <span class="sidebar-item__icon ms-1 me-1 fs-4">
                <i class="bi bi-{{ link.icon }}"></i>
            </span>
            <span class="sidebar-item__label fs-5 d-none">
                {{ link.label }}
            </span>
        </button>
        <div class="collapse multi-collapse" id="collapse{{ link.id }}">
            <div class="ac-body">
                <ul class="menu">
                    {% assign sortedItems = link.children | sort: 'id' %}
                    {% for child in sortedItems %}
                    <li class="mb-1">
                        <a class="dropdown-item"
                            href="{% if child.id != 'convrtrs'%}{{ '/' | append: link.id | url }}{% endif %}/{{ child.id }}"
                            data-target="#{{ link.id }}">{{ child.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <a class="nav-link" href="{{ '/' | append: link.id | url }}" role="button">
            <span class="d-inline-flex ms-1 me-auto fs-5">{{ link.label }}</span>
        </a>
        {% endif %}
    </div>
    {% endfor %}
    <div class="d-grid gap-2 mt-3">
        <a class="btn btn-md sidebar-item__link text-start p-1" aria-label="View the sitemap"
            href="{{ '/sitemap' | url }}" data-href="{{ '/sitemap' | url }}">
            <span class="sidebar-item__icon ms-2 me-1 fs-5 position-relative" style="left:4px;">
                <i class="bi bi-diagram-3" aria-hidden="true" focusable="false"></i>
            </span>
            <span class="sidebar-item__label fs-6 ms-1 d-none">Sitemap</span>
        </a>
        <a class="btn btn-md sidebar-item__link text-start p-1" aria-label="Latest site updates"
            href="{{ '/changelog' | url }}" data-href="{{ '/changelog' | url }}">
            <span class="sidebar-item__icon ms-2 me-1 fs-5 position-relative" style="left:4px;">
                <i class="bi bi-calendar2-week" aria-hidden="true" focusable="false"></i>
            </span>
            <span class="sidebar-item__label fs-6 ms-1 d-none">Changelog</span>
        </a>
    </div>
</div>