<div class="sidebar-dropdown d-grid gap-2 pb-3" id="nav-dropdown">
    {% for link in nav %}
    <div class="sidebar-item d-grid gap-2{% if page-id ==  link.id or folderName == link.id %} active{% endif %}" data-link-id="{{ link.id }}"
        data-page-id="{{ page-id }}">
        {% if link.children %}
        <div class="btn-group">
            <a
                class="btn sidebar-item__link border border-success rounded-start-2 {% if page-id ==  link.id or folderName == link.id %} border-opacity-25 active{% else %} border-opacity-10{% endif %} text-start"
                href="{{ '/' | append: link.id | replace: 'text', '' | url }}" aria-label="{{ link.label }}">
                <span class="sidebar-item__icon ms-1 me-1 fs-4">
                    <i class="bi bi-{{ link.icon }}"></i>
                </span>
                <span class="sidebar-item__label fs-5 ms-2">
                    {{ link.label }}
                </span>
            </a>
            <button class="btn sidebar-item__link dropdown-toggle dropdown-toggle-split border border-success rounded-end-2 
            {% if page-id ==  link.id or folderName == link.id %} border-opacity-25 active{% else %} border-opacity-10{% endif %}"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ link.id }}"
                aria-controls="collapse{{ link.id }}" aria-expanded="false" aria-label="{{ link.label }}">
                <span class="visually-hidden">Toggle Dropdown</span>
        </div>
        <div class="collapse multi-collapse" id="collapse{{ link.id }}">
            <div class="ac-body">
                <ul class="menu">
                    {% assign sortedItems = link.children | sort: 'id' %}
                    {% for child in sortedItems %}
                    <li class="mb-1">
                        <a class="dropdown-item{% if page-id == child.id %} fw-bold link-underline-success{% endif %}"
                            href="{% if child.id != 'convrtrs'%}{{ '/' | append: link.id | url }}{% endif %}/{{ child.id }}"
                            data-target="#{{ link.id }}">{{ child.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <a class="nav-link" href="{{ '/' | append: link.id | replace: 'text', '' | url }}" role="button">
            <span class="d-inline-flex ms-1 me-auto fs-5">{{ link.label }}</span>
        </a>
        {% endif %}
    </div>
    {% endfor %}
    <div class="d-grid gap-2 mt-3">
        <a class="btn btn-md sidebar-item__link text-start p-1 border border-success
        {% if page-id == 'sitemap' %} border-opacity-25 active{% else %} border-opacity-10{% endif %}" aria-label="View the sitemap"
            href="{{ '/sitemap' | url }}" data-href="{{ '/sitemap' | url }}">
            <span class="sidebar-item__icon ms-2 me-1 fs-5 position-relative" style="left:4px;">
                <i class="bi bi-diagram-3" aria-hidden="true" focusable="false"></i>
            </span>
            <span class="sidebar-item__label fs-6 ms-3">Sitemap</span>
        </a>
        <a class="btn btn-md sidebar-item__link text-start p-1 border border-success
        {% if page.url contains 'changelog' %} border-opacity-25 active{% else %} border-opacity-10{% endif %}" aria-label="Latest site updates"
            href="{{ '/changelog' | url }}" data-href="{{ '/changelog' | url }}">
            <span class="sidebar-item__icon ms-2 me-1 fs-5 position-relative" style="left:4px;">
                <i class="bi bi-calendar2-week" aria-hidden="true" focusable="false"></i>
            </span>
            <span class="sidebar-item__label fs-6 ms-3">Changelog</span>
        </a>
    </div>
</div>