---
layout: layout.liquid
title: Caesar cipher
tags: tools
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="true" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section"
            data-pagefind-ignore="all">
            <h2 class="display-6 w-100 d-flex m-0">
                Caesar cipher
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                A very simple method of encryption, the Caesar cipher - also known as a shift cipher - 'shifts' the alphabet a certain number of spaces, pushing the letters at the end to the beginning.
                The most common Caesar cipher is Rot 13, where 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">A</code> 
                becomes 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">N</code> 
                and so forth. You can optionally add a key to the cipher to further encrypt your results, this will create a custom alphabet to rotate through &ndash;
                 see the <a href="/ciphers/substitution" class="text-convrtr">Substitution Cipher</a> below for more information.
            </p>
            <p class="px-2">
                 There is more information available on the <a href="https://en.wikipedia.org/wiki/Caesar_cipher" class="text-convrtr">Caesar_cipher</a> Wikipedia page. 
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <ul class="pagination justify-content-center flex-wrap" id="pagination">
            {% for char in alpha -%}
                {% if forloop.first -%}
                <li class="page-item">
                    <button type="button" class="page-link" id="{{ filename }}Prev" aria-label="Previous" 
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {% endif -%}
                <li class="page-item">
                    <button type="button" class="page-link {{ filename }}-link" id="{{ filename }}{{ forloop.index }}" 
                        aria-label="Letter {{ char.letter | downcase }} - Rot {{ forloop.index }}" data-{{ filename }}-number="{{ forloop.index }}" 
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Rot {{ forloop.index }}">
                        <span class="visually-hidden">Letter</span> {{ char.letter | downcase }}<span class="visually-hidden"> - Rot {{ forloop.index }}</span>
                    </button>
                </li>
                {% if forloop.last -%}
                <li class="page-item">
                    <button type="button" class="page-link" id="{{ filename }}Next" aria-label="Next" 
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
                {% endif -%}
            {% endfor -%}
        </ul>
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">{{ filename | upperFirst }} cipher</span>
                <div class="card-body text-center">
                    <label for="{{ filename }}Text" class="visually-hidden">{{ filename | upperFirst }} Text - text to substitute</label>
                    <textarea placeholder="Example: Hello → Mjqqt (Rot 5)" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-text" autocomplete="off"></textarea>
                </div>
                <div class="card-footer py-3">
                    <div class="text-center mb-4 g-0">
                        <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                            <div class="col col-12 col-md-auto">
                                <div class="input-group w-auto">
                                    <label class="input-group-text" id="{{ filename }}-group" for="{{ filename }}Key"><span class="visually-hidden">{{ filename | upperFirst }} Cipher </span>Key</label>
                                    <input type="text" class="form-control" id="{{ filename }}Key" autocomplete="off" pattern="[A-Za-z]*" title="Only letters allowed">
                                </div>
                            </div>
                            <div class="col-12 col-md-auto flex-fill">
                                <div class="row row-cols-auto g-0">
                                    <div class="col col-8 col-sm-auto ms-0 mx-md-2 me-auto">
                                        <div class="form-check form-switch text-start">
                                            <input class="form-check-input" type="checkbox" role="switch" id="chainRots" aria-checked="false" aria-labelledby="chainRotsLabel">
                                            <label class="form-check-label" id="chainRotsLabel" for="chainRots">Chain <span class="visually-hidden">rotation </span>commands</label>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-fill justify-content-end">
                                        {% include "components/select-copy-dl" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}