---
layout: layout.liquid
title: Chaocipher
permalink: "/ciphers/chaocipher/"
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse">
                <h2 class="display-6 w-100 d-flex m-0">
                    {{ filename | upperFirst }}
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr>
            <p class="px-2">
                Chaocipher is an encryption method invented by John F. Byrne in the 1920s. It uses two shifting sets of the alphabet to scramble messages uniquely each time. Only someone with the correct settings can decode the scrambled message back to its original form. For example: 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    Hello World
                </code>
                →
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WahqzIuets
                </code>
                etc. There is more information available on the <a href="https://en.wikipedia.org/wiki/Chaocipher" class="text-convrtr">{{ filename | upperFirst }}</a> Wikipedia page
            </p>
        </div>
        <div class="collapse" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">{{ filename | upperFirst }}</span>
                    <div class="card-body text-center">
                        <textarea placeholder="Example: Hello World → WahqzIuets" title="Encrypt or decrypt Chaocipher string" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-text" autocomplete="off"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-4 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-md-auto">
                                    <div class="input-group w-auto">
                                        <button type="button" class="btn btn-convrtr" id="{{ filename }}Encrypt" title="Encrypt">Encrypt</button>
                                        <button class="btn btn-outline-convrtr" type="button" id="{{ filename }}Decrypt">Decrypt</button>
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto flex-fill">
                                    <div class="row row-cols-auto g-0">
                                        <div class="col col-8 col-sm-auto ms-0 mx-md-2 me-auto">
                                            <div class="form-check form-switch text-start">
                                                <input class="form-check-input" type="checkbox" role="switch" id="chain{{ filename | upperFirst }}" aria-checked="false">
                                                <label class="form-check-label" for="chain{{ filename | upperFirst }}">Chain <span class="visually-hidden">{{ filename }} </span>commands</label>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-fill justify-content-end">
                                            {% include "components/select-copy-dl" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>