---
layout: layout.liquid
title: Hash
tags: tools
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="false" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section"
            data-pagefind-ignore="all">
            <h2 class="display-6 w-100 d-flex m-0">
                {{ filename | upperFirst }}
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                Generate various hash values for a given text string. More information about hashes and the libraries used here, can be found on the <a href="https://cryptojs.gitbook.io/docs/" class="text-convrtr"">CryptoJS Gitbook</a> documentation site.
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">Hash text</span>
                <div class="card-body text-center">
                    <label for="{{ filename }}Text" class="visually-hidden">Generate hash values for a string</label>
                    <textarea placeholder="Example: Hello World &srarr; b10a8db164e0754105b7a99be72e3fe5" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-text" autocomplete="off"></textarea>
                </div>
                <div class="card-footer py-3">
                    <div class="d-flex justify-content-start align-items-center">
                        <button type="button" class="btn btn-md btn-convrtr" id="{{ filename }}Decode" title="Generate hashes">Generate</button>
                        {% include "components/select-copy-dl" %}
                    </div>
                    <hr />
                    <div class="table-responsive">
                        <table class="table table-striped hash-table">
                            <caption class="visually-hidden">
                                Hash output table: lists hashing algorithms and their corresponding values for the provided input
                            </caption>
                            <thead class="table-success">
                                <tr>
                                    <th scope="col" class="col-3 col-md-2 col-lg-2">Hash Type</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody class="data-to-copy active convrtr-results" id="{{ filename }}Results">
                                <tr class="visually-hidden">
                                    <td colspan="2" class="text-center">No data available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}