---
layout: layout.liquid
title: Substitution cipher
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
    <div class="py-4 px-2 px-sm-4">
        <div class="section-heading mb-4">
            <a class="d-flex justify-content-between section-toggle text-decoration-none d-none"
                data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
                aria-expanded="false" aria-controls="{{ filename }}Collapse"
                data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
                <h2 class="display-6 w-100 d-flex m-0">
                    {{ filename | upperFirst }} cipher
                </h2>
                <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                    <i class="bi bi-arrow-up lh-base"></i>
                </span>
            </a>
            <hr class="d-none">
            <p class="px-2">
                A substitution cipher uses a key or a phrase to make a new alphabet, with the end result potentially being a completely jumbled up alphabet. 
            </p>
            <p class="px-2">
                A quick example substitution: 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WORLD
                </code> → 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    HELLO
                </code>
                → 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WNRJO
                </code> 
                - The full alphabet would look like 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    HELOABCDFGIJKMNPQRSTUVWXYZ
                </code> &ndash; notice that H, E, L and O have moved to the start, the second L in HELLO isn't present again as it has already been used and placed. 
                Mixed case strings and keys are supported here, for example:
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WOrld
                </code> →
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    HELLO
                </code>
                →
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WNrjo
                </code>
                or 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    WOrld
                </code> →
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    HEllo
                </code>
                →
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    UMpjo
                </code> &ndash; There is more information available on the <a href="https://en.wikipedia.org/wiki/Substitution_cipher" class="text-convrtr">Substitution cipher</a> Wikipedia page. 
            </p>
        </div>
        <div class="collapse show" id="{{ filename }}Collapse">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">{{ filename | upperFirst }} cipher</span>
                    <div class="card-body text-center">
                        <textarea placeholder="Example: Hello → World [key] → Cdggj" title="{{ filename | upperFirst }} string" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-cipher" autocomplete="off"></textarea>
                    </div>
                    <div class="card-footer py-3">
                        <div class="text-center mb-4 g-0">
                            <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                                <div class="col col-12 col-md-auto">
                                    <div class="input-group w-auto">
                                        <label class="input-group-text" id="{{ filename }}-group" for="{{ filename }}Key"><span class="visually-hidden">{{ filename | upperFirst }} </span>Key</label>
                                        <input type="text" class="form-control" id="{{ filename }}Key" autocomplete="off">
                                        <button class="btn btn-convrtr" type="button" id="{{ filename }}Encrypt">Encrypt</button>
                                        {% comment %}<button class="btn btn-outline-convrtr" type="button" id="{{ filename }}Decrypt" title="Decryption is currently unavailable">Decrypt</button>{% endcomment %}
                                    </div>
                                </div>
                                <div class="col-12 col-md-auto flex-fill">
                                    <div class="row row-cols-auto g-0">
                                        <div class="col col-8 col-sm-auto ms-0 mx-md-2 me-auto">
                                            <div class="form-check form-switch text-start">
                                                <input class="form-check-input" type="checkbox" role="switch" id="chainSubs" aria-checked="false">
                                                <label class="form-check-label" for="chainSubs">Chain <span class="visually-hidden">{{ filename }} </span>commands</label>
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-fill justify-content-end">
                                            {% include "components/select-copy-dl" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}