---
layout: layout.liquid
title: Vigenèrecipher
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="false" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section">
            <h2 class="display-6 w-100 d-flex m-0">
                Vigenère cipher
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                One of the most well known cipher methods. Each letter of the message is shifted by a corresponding character of the key, running out of characters in the key will loop back to the beginning. For example: <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">Hello</code> encrypted with a key of <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">World</code> would shift like: 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    H → W → D
                </code> 
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    e → o → s
                </code>
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    l → r → c
                </code>
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    l → l → w
                </code>
                <code class="d-inline-flex px-2 bg-success bg-opacity-10 border border-success border-opacity-10 rounded-2">
                    o → d → r
                </code>
                - for the next letters, the key would loop back and start from the W in World again. There is more information available on the <a href="https://en.wikipedia.org/wiki/Vigen%C3%A8re_cipher" class="text-convrtr">Vigenère cipher</a> Wikipedia page. 
            </p>
        </div>
    </div>
    <div class="pb-4 px-2 px-sm-4 collapse show" id="{{ filename }}Collapse">
        <div class="col">
            <div class="card">
                <span class="card-label visually-hidden">Vigenère cipher</span>
                <div class="card-body text-center">
                    <label for="{{ filename }}Text" class="visually-hidden">Vigenère string</label>
                    <textarea placeholder="Example: Hello → World [key] → Dscwr" rows="6" id="{{ filename }}Text" class="form-control {{ filename }}-cipher" autocomplete="off"></textarea>
                </div>
                <div class="card-footer py-3">
                    <div class="text-center mb-4 g-0">
                        <div class="row row-cols-2 g-md-0 gx-0 gy-2">
                            <div class="col col-12 col-md-auto">
                                <div class="input-group w-auto">
                                    <label class="input-group-text" id="{{ filename }}KeyLabel" for="{{ filename }}Key"><span class="visually-hidden">Vigenère </span>Key</label>
                                    <input type="text" class="form-control" id="{{ filename }}Key" autocomplete="off">
                                    <button class="btn btn-convrtr" type="button" id="{{ filename }}Encrypt">Encrypt</button>
                                    <button class="btn btn-outline-convrtr" type="button" id="{{ filename }}Decrypt">Decrypt</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-auto flex-fill">
                                <div class="row row-cols-auto g-0">
                                    <div class="col col-8 col-sm-auto ms-0 mx-md-2 me-auto">
                                        <div class="form-check form-switch text-start">
                                            <input class="form-check-input" type="checkbox" role="switch" id="chainVig" aria-checked="false">
                                            <label class="form-check-label" for="chainVig">Chain <span class="visually-hidden">vigenère </span>commands</label>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-fill justify-content-end">
                                        {% include "components/select-copy-dl" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% render "dynamic-script", page: page %}