---
layout: layout.liquid
title: Exif reader
tags: tools
---
{% assign filename = page.fileSlug %}
<section id="{{ filename }}" class="section">
<div class="section-heading">
        <a class="d-flex justify-content-between section-toggle text-decoration-none d-none pt-4 pb-3 px-2 px-sm-4"
            data-bs-toggle="collapse" href="#{{ filename }}Collapse" role="button" 
            aria-expanded="true" aria-controls="{{ filename }}Collapse"
            data-section-name="{{ filename }}" data-section-description="Toggle visibility of {{ filename }} section"
            data-pagefind-ignore="all">
            <h2 class="display-6 w-100 d-flex m-0">
                Check file type
            </h2>
            <span class="text-light px-1 border rounded align-self-end toggle-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Collapse section">
                <i class="bi bi-arrow-up lh-base"></i>
            </span>
        </a>
        <hr class="d-none my-0 mx-4">
        <div class="section-description py-3 px-2 px-sm-4">
            <p class="px-2">
                The Exif reader tool allows you to pull metadata information from a variety of image file types, such as GPS information, camera information (like exposure, aperture, device make and model), and more. This metadata can often be where puzzle makers hide information.
            </p>
            <p class="px-2">
                The Exif reader supports the following file types: 
            </p>
        </div>
        <div id="{{ filename }}Collapse" class="pb-4 px-2 px-sm-4 collapse show">
            <div class="col">
                <div class="card">
                    <span class="card-label visually-hidden">Check Exif information</span>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="fileInput" class="form-label visually-hidden">Select a file</label>
                            <input class="form-control" type="file" id="fileInput">
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        <div class="d-flex justify-content-start align-items-center">
                            {% include "components/select-copy-dl" %}
                        </div>
                        <hr />
                        <div id="{{ filename }}Results" class="data-to-copy active convrtr-results"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% render "dynamic-script", page: page %}